/* your styles go here */
#page1 {
    background: url(../img/b1.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
}

.btn-email {
    border-radius: 0;
    background: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 4px 10px;
    font-size: 17px;
    border-radius: 0;
    margin-top: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.btn-email:hover {
    color: #fff;
    background: #611427;
    border: 1px solid #611427;
/*background: hsla(58,26%,97%,1) ;
  border:1px solid #1D2326 ;*/
    transition: .3s;
}

.pagenav {
    display: block;
    text-align: center;
    text-transform: lowercase;
    letter-spacing: 1px;
    padding-top: 20px;
    font-style: italic;
}

.pagenav ul {
    border-top: 1px solid rgba(237,241,242,.7);
    border-bottom: 1px solid rgba(237,241,242,.7);
    padding: 8px 0;
    max-width: 600px;
    margin: 10px auto 0;
}

.section-gray .pagenav ul {
    border-top: 1px solid #DDDDD2;
    border-bottom: 1px solid #DDDDD2;
}

.pagenav li {
    display: inline;
    padding: 0 12px;
}

.btn-email:active {
    color: #000;
    background: #fff;
    border: 1px solid #fff;
}

.btn-email:visited, {
    color: #1D2326;
    background: #fff;
    border: none;
}

.fa-angle-double-down {
    color: #fff;
}

.fa-angle-double-down:hover {
    color: #fff;
}

/*SLICK*/
.slick-slide img {
    display: block;
    height: 500px;
    max-height: 100%;
    padding-right: 5px;
}

.slick-next,.slick-prev {
    color: #fff;
    font-size: 20px;
    text-shadow: 0 0 2px rgba(0,0,0,1);
}

.slick-prev {
    margin-left: 40px;
}

.slick-next {
    margin-right: 40px;
}

.slideshow {
    margin: 0 -40px;
}

a:hover {
    color: #4a1321;
}

h1 {
    letter-spacing: 5px;
}

#page3 ul {
    padding-bottom: 9px;
}

.spacer {
    height: 220px;
    display: none;
}

#email a {
    font-size: 18px;
    font-weight: 700;
}

.bio {
    max-width: 800px;
    margin: 0 auto;
}

.img-responsive {
    margin: 90px 0 20px 2px;
    height: 230px;
}

#social li {
    display: inline;
    color: #611427;
    font-size: 26px;
    padding-right: 7px;
}

#social ul {
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 991px) {
    .slideshow {
        margin: 0 auto;
    }

    .img-responsive {
        display: none;
    }
}

@media (max-width: 768px) {
    .spacer {
        display: block;
    }

    .pagenav.p3 {
        display: block;
    }

    .pagenav.p2 {
        display: none;
    }

    .slick-slide img {
        display: block;
        max-height: 300px;
        min-width: 100%;
        padding-right: 5px;
    }
}

@media (max-width:600px) {
  h1 {
    letter-spacing: 2px;
    margin-bottom: 2px;
  }
  .spacer {
    height: 150px;
  }
}
